/* -------------------------------------------

Buttons & Links

------------------------------------------- */

/* -------------------------------------------

link

------------------------------------------- */
.mil-link {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}
.mil-link svg {
  margin-left: 15px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}
.mil-link svg path {
  fill: rgb(255, 255, 255);
}
.mil-link.mil-accent svg {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}
.mil-link.mil-accent svg path {
  fill: #1291F6;
}
.mil-link.mil-dark svg {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}
.mil-link.mil-dark svg path {
  fill: rgb(0, 0, 0);
}
.mil-link:hover svg {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
.mil-link.mil-down-arrow svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.mil-link.mil-down-arrow:hover svg {
  -webkit-transform: scale(1.15) rotate(90deg);
          transform: scale(1.15) rotate(90deg);
}
.mil-link.mil-icon-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.mil-link.mil-icon-left svg {
  margin-left: 0;
  margin-right: 15px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.mil-link.mil-icon-left:hover svg {
  -webkit-transform: scale(1.15) rotate(180deg);
          transform: scale(1.15) rotate(180deg);
}

/* -------------------------------------------

button

------------------------------------------- */
.mil-button {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  letter-spacing: 2px;
  font-size: 12px;
  background-color: #1291F6;
  color: rgb(255, 255, 255);
  border-radius: 70px;
  padding: 0 15px 0 50px;
  height: 70px;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}
.mil-button span {
  white-space: nowrap;
}
.mil-button svg {
  margin-left: 30px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}
.mil-button svg path {
  fill: #1291F6;
}
.mil-button.mil-icon-button {
  padding: 15px;
}
.mil-button.mil-icon-button svg {
  margin-left: 0;
}
.mil-button.mil-icon-button-sm {
  padding: 0;
  height: 40px;
}
.mil-button.mil-icon-button-sm svg {
  margin-left: 0;
  background-color: #1291F6;
}
.mil-button.mil-icon-button-sm svg path {
  fill: rgb(255, 255, 255);
}
.mil-button:hover {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}
.mil-button:hover svg {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
.mil-button.mil-arrow-down svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.mil-button.mil-arrow-down:hover {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}
.mil-button.mil-arrow-down:hover svg {
  -webkit-transform: scale(1.15) rotate(90deg);
          transform: scale(1.15) rotate(90deg);
}
@media screen and (max-width: 992px) {
  .mil-button {
    height: 60px;
    padding: 0 10px 0 40px;
  }
  .mil-button svg {
    margin-left: 25px;
  }
}
