/* -------------------------------------------
Custom Styles - UTOO Brand Customizations
------------------------------------------- */

/* Text Carousel Animation */
.text-carousel {
  display: inline-block;
  overflow: hidden;
  height: 1.2em;
  vertical-align: top;
  line-height: 1.2em;
}

.text-carousel__list {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-animation-name: text-change;
  -webkit-animation-duration: 26s;
  -webkit-animation-iteration-count: infinite;
  animation-name: text-change;
  animation-duration: 26s;
  animation-iteration-count: infinite;
}

.text-carousel__item {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  height: 1.2em;
}

@keyframes text-change {
  0%, 6% {
    transform: translate3d(0, 0, 0);
  }
  8%, 14% {
    transform: translate3d(0, calc(-100% / 13 * 1), 0);
  }
  16%, 22% {
    transform: translate3d(0, calc(-100% / 13 * 2), 0);
  }
  24%, 30% {
    transform: translate3d(0, calc(-100% / 13 * 3), 0);
  }
  32%, 38% {
    transform: translate3d(0, calc(-100% / 13 * 4), 0);
  }
  40%, 46% {
    transform: translate3d(0, calc(-100% / 13 * 5), 0);
  }
  48%, 54% {
    transform: translate3d(0, calc(-100% / 13 * 6), 0);
  }
  56%, 62% {
    transform: translate3d(0, calc(-100% / 13 * 7), 0);
  }
  64%, 70% {
    transform: translate3d(0, calc(-100% / 13 * 8), 0);
  }
  72%, 78% {
    transform: translate3d(0, calc(-100% / 13 * 9), 0);
  }
  80%, 86% {
    transform: translate3d(0, calc(-100% / 13 * 10), 0);
  }
  88%, 94% {
    transform: translate3d(0, calc(-100% / 13 * 11), 0);
  }
  96%, 100% {
    transform: translate3d(0, calc(-100% / 13 * 12), 0);
  }
}

@-webkit-keyframes text-change {
  0%, 6% {
    transform: translate3d(0, 0, 0);
  }
  8%, 14% {
    transform: translate3d(0, calc(-100% / 13 * 1), 0);
  }
  16%, 22% {
    transform: translate3d(0, calc(-100% / 13 * 2), 0);
  }
  24%, 30% {
    transform: translate3d(0, calc(-100% / 13 * 3), 0);
  }
  32%, 38% {
    transform: translate3d(0, calc(-100% / 13 * 4), 0);
  }
  40%, 46% {
    transform: translate3d(0, calc(-100% / 13 * 5), 0);
  }
  48%, 54% {
    transform: translate3d(0, calc(-100% / 13 * 6), 0);
  }
  56%, 62% {
    transform: translate3d(0, calc(-100% / 13 * 7), 0);
  }
  64%, 70% {
    transform: translate3d(0, calc(-100% / 13 * 8), 0);
  }
  72%, 78% {
    transform: translate3d(0, calc(-100% / 13 * 9), 0);
  }
  80%, 86% {
    transform: translate3d(0, calc(-100% / 13 * 10), 0);
  }
  88%, 94% {
    transform: translate3d(0, calc(-100% / 13 * 11), 0);
  }
  96%, 100% {
    transform: translate3d(0, calc(-100% / 13 * 12), 0);
  }
}
