/* -------------------------------------------

accordion

------------------------------------------- */
.mil-accordion-group {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
.mil-accordion-group .mil-accordion-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  margin-bottom: 30px;
}
.mil-accordion-group .mil-accordion-menu .mil-symbol {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: rgb(0, 0, 0);
  background-color: rgb(229, 229, 229);
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.mil-accordion-group .mil-accordion-menu .mil-symbol .mil-plus, .mil-accordion-group .mil-accordion-menu .mil-symbol .mil-minus {
  position: absolute;
}
.mil-accordion-group .mil-accordion-menu .mil-symbol .mil-minus {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.mil-accordion-group .mil-accordion-menu .mil-accordion-head {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.mil-accordion-content {
  height: 0;
  overflow: hidden;
}

/***************************

price

***************************/
.mil-price-card {
  display: block;
  width: 100%;
  border-top: solid 1px rgba(255, 255, 255, 0.1);
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  padding: 60px 0 30px;
}
.mil-price-card .mil-price-number {
  padding-top: 10px;
  line-height: 70%;
  font-size: 54px;
  font-weight: 500;
}
.mil-price-card .mil-price-number .mil-thin {
  font-weight: 200;
  font-size: 18px;
}

/***************************

404

***************************/
.mil-404-banner .mil-animation-frame {
  z-index: 2;
}

.mil-404-frame {
  padding-top: 100px;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mil-404-text {
  display: block;
  text-align: center;
  color: rgb(255, 255, 255);
}

.mil-scale-frame {
  -webkit-transform: scale(2.3);
          transform: scale(2.3);
  text-align: center;
  margin-bottom: 90px;
}
@media screen and (max-width: 530px) {
  .mil-scale-frame {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    margin-bottom: 50px;
  }
}

.mil-404 {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 6em;
  font-weight: 500;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.mil-404::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #1291F6;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.mil-404::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 rgb(153, 153, 153), 2px 2px rgb(229, 229, 229);
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(49px, 9999px, 31px, 0);
    -webkit-transform: skew(0.04deg);
            transform: skew(0.04deg);
  }
  5% {
    clip: rect(63px, 9999px, 92px, 0);
    -webkit-transform: skew(0.18deg);
            transform: skew(0.18deg);
  }
  10% {
    clip: rect(86px, 9999px, 74px, 0);
    -webkit-transform: skew(0.4deg);
            transform: skew(0.4deg);
  }
  15% {
    clip: rect(85px, 9999px, 19px, 0);
    -webkit-transform: skew(0.57deg);
            transform: skew(0.57deg);
  }
  20% {
    clip: rect(64px, 9999px, 75px, 0);
    -webkit-transform: skew(0.96deg);
            transform: skew(0.96deg);
  }
  25% {
    clip: rect(77px, 9999px, 17px, 0);
    -webkit-transform: skew(0.61deg);
            transform: skew(0.61deg);
  }
  30% {
    clip: rect(16px, 9999px, 76px, 0);
    -webkit-transform: skew(0.81deg);
            transform: skew(0.81deg);
  }
  35% {
    clip: rect(5px, 9999px, 61px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
  40% {
    clip: rect(79px, 9999px, 81px, 0);
    -webkit-transform: skew(0.05deg);
            transform: skew(0.05deg);
  }
  45% {
    clip: rect(20px, 9999px, 97px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
  50% {
    clip: rect(33px, 9999px, 100px, 0);
    -webkit-transform: skew(0.16deg);
            transform: skew(0.16deg);
  }
  55% {
    clip: rect(19px, 9999px, 76px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  60% {
    clip: rect(29px, 9999px, 59px, 0);
    -webkit-transform: skew(0.58deg);
            transform: skew(0.58deg);
  }
  65% {
    clip: rect(19px, 9999px, 95px, 0);
    -webkit-transform: skew(0.83deg);
            transform: skew(0.83deg);
  }
  70% {
    clip: rect(88px, 9999px, 30px, 0);
    -webkit-transform: skew(0.39deg);
            transform: skew(0.39deg);
  }
  75% {
    clip: rect(43px, 9999px, 45px, 0);
    -webkit-transform: skew(0.6deg);
            transform: skew(0.6deg);
  }
  80% {
    clip: rect(30px, 9999px, 4px, 0);
    -webkit-transform: skew(0.89deg);
            transform: skew(0.89deg);
  }
  85% {
    clip: rect(4px, 9999px, 96px, 0);
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  90% {
    clip: rect(4px, 9999px, 91px, 0);
    -webkit-transform: skew(0.2deg);
            transform: skew(0.2deg);
  }
  95% {
    clip: rect(48px, 9999px, 80px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  100% {
    clip: rect(10px, 9999px, 58px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
}

@keyframes glitch-anim {
  0% {
    clip: rect(49px, 9999px, 31px, 0);
    -webkit-transform: skew(0.04deg);
            transform: skew(0.04deg);
  }
  5% {
    clip: rect(63px, 9999px, 92px, 0);
    -webkit-transform: skew(0.18deg);
            transform: skew(0.18deg);
  }
  10% {
    clip: rect(86px, 9999px, 74px, 0);
    -webkit-transform: skew(0.4deg);
            transform: skew(0.4deg);
  }
  15% {
    clip: rect(85px, 9999px, 19px, 0);
    -webkit-transform: skew(0.57deg);
            transform: skew(0.57deg);
  }
  20% {
    clip: rect(64px, 9999px, 75px, 0);
    -webkit-transform: skew(0.96deg);
            transform: skew(0.96deg);
  }
  25% {
    clip: rect(77px, 9999px, 17px, 0);
    -webkit-transform: skew(0.61deg);
            transform: skew(0.61deg);
  }
  30% {
    clip: rect(16px, 9999px, 76px, 0);
    -webkit-transform: skew(0.81deg);
            transform: skew(0.81deg);
  }
  35% {
    clip: rect(5px, 9999px, 61px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
  40% {
    clip: rect(79px, 9999px, 81px, 0);
    -webkit-transform: skew(0.05deg);
            transform: skew(0.05deg);
  }
  45% {
    clip: rect(20px, 9999px, 97px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
  50% {
    clip: rect(33px, 9999px, 100px, 0);
    -webkit-transform: skew(0.16deg);
            transform: skew(0.16deg);
  }
  55% {
    clip: rect(19px, 9999px, 76px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  60% {
    clip: rect(29px, 9999px, 59px, 0);
    -webkit-transform: skew(0.58deg);
            transform: skew(0.58deg);
  }
  65% {
    clip: rect(19px, 9999px, 95px, 0);
    -webkit-transform: skew(0.83deg);
            transform: skew(0.83deg);
  }
  70% {
    clip: rect(88px, 9999px, 30px, 0);
    -webkit-transform: skew(0.39deg);
            transform: skew(0.39deg);
  }
  75% {
    clip: rect(43px, 9999px, 45px, 0);
    -webkit-transform: skew(0.6deg);
            transform: skew(0.6deg);
  }
  80% {
    clip: rect(30px, 9999px, 4px, 0);
    -webkit-transform: skew(0.89deg);
            transform: skew(0.89deg);
  }
  85% {
    clip: rect(4px, 9999px, 96px, 0);
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  90% {
    clip: rect(4px, 9999px, 91px, 0);
    -webkit-transform: skew(0.2deg);
            transform: skew(0.2deg);
  }
  95% {
    clip: rect(48px, 9999px, 80px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  100% {
    clip: rect(10px, 9999px, 58px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
}
@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(97px, 9999px, 84px, 0);
    -webkit-transform: skew(0.55deg);
            transform: skew(0.55deg);
  }
  5% {
    clip: rect(82px, 9999px, 21px, 0);
    -webkit-transform: skew(0.04deg);
            transform: skew(0.04deg);
  }
  10% {
    clip: rect(51px, 9999px, 99px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  15% {
    clip: rect(42px, 9999px, 97px, 0);
    -webkit-transform: skew(0.03deg);
            transform: skew(0.03deg);
  }
  20% {
    clip: rect(27px, 9999px, 25px, 0);
    -webkit-transform: skew(0.86deg);
            transform: skew(0.86deg);
  }
  25% {
    clip: rect(69px, 9999px, 5px, 0);
    -webkit-transform: skew(0.95deg);
            transform: skew(0.95deg);
  }
  30% {
    clip: rect(38px, 9999px, 67px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  35% {
    clip: rect(8px, 9999px, 90px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  40% {
    clip: rect(34px, 9999px, 31px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  45% {
    clip: rect(1px, 9999px, 25px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  50% {
    clip: rect(45px, 9999px, 40px, 0);
    -webkit-transform: skew(0.38deg);
            transform: skew(0.38deg);
  }
  55% {
    clip: rect(84px, 9999px, 96px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
  60% {
    clip: rect(68px, 9999px, 59px, 0);
    -webkit-transform: skew(0.35deg);
            transform: skew(0.35deg);
  }
  65% {
    clip: rect(93px, 9999px, 48px, 0);
    -webkit-transform: skew(0.25deg);
            transform: skew(0.25deg);
  }
  70% {
    clip: rect(19px, 9999px, 40px, 0);
    -webkit-transform: skew(0.97deg);
            transform: skew(0.97deg);
  }
  75% {
    clip: rect(76px, 9999px, 56px, 0);
    -webkit-transform: skew(0.79deg);
            transform: skew(0.79deg);
  }
  80% {
    clip: rect(22px, 9999px, 82px, 0);
    -webkit-transform: skew(0.48deg);
            transform: skew(0.48deg);
  }
  85% {
    clip: rect(30px, 9999px, 63px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
  90% {
    clip: rect(68px, 9999px, 44px, 0);
    -webkit-transform: skew(0.4deg);
            transform: skew(0.4deg);
  }
  95% {
    clip: rect(12px, 9999px, 36px, 0);
    -webkit-transform: skew(0.61deg);
            transform: skew(0.61deg);
  }
  100% {
    clip: rect(24px, 9999px, 5px, 0);
    -webkit-transform: skew(0.96deg);
            transform: skew(0.96deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(97px, 9999px, 84px, 0);
    -webkit-transform: skew(0.55deg);
            transform: skew(0.55deg);
  }
  5% {
    clip: rect(82px, 9999px, 21px, 0);
    -webkit-transform: skew(0.04deg);
            transform: skew(0.04deg);
  }
  10% {
    clip: rect(51px, 9999px, 99px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  15% {
    clip: rect(42px, 9999px, 97px, 0);
    -webkit-transform: skew(0.03deg);
            transform: skew(0.03deg);
  }
  20% {
    clip: rect(27px, 9999px, 25px, 0);
    -webkit-transform: skew(0.86deg);
            transform: skew(0.86deg);
  }
  25% {
    clip: rect(69px, 9999px, 5px, 0);
    -webkit-transform: skew(0.95deg);
            transform: skew(0.95deg);
  }
  30% {
    clip: rect(38px, 9999px, 67px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  35% {
    clip: rect(8px, 9999px, 90px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  40% {
    clip: rect(34px, 9999px, 31px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  45% {
    clip: rect(1px, 9999px, 25px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  50% {
    clip: rect(45px, 9999px, 40px, 0);
    -webkit-transform: skew(0.38deg);
            transform: skew(0.38deg);
  }
  55% {
    clip: rect(84px, 9999px, 96px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
  60% {
    clip: rect(68px, 9999px, 59px, 0);
    -webkit-transform: skew(0.35deg);
            transform: skew(0.35deg);
  }
  65% {
    clip: rect(93px, 9999px, 48px, 0);
    -webkit-transform: skew(0.25deg);
            transform: skew(0.25deg);
  }
  70% {
    clip: rect(19px, 9999px, 40px, 0);
    -webkit-transform: skew(0.97deg);
            transform: skew(0.97deg);
  }
  75% {
    clip: rect(76px, 9999px, 56px, 0);
    -webkit-transform: skew(0.79deg);
            transform: skew(0.79deg);
  }
  80% {
    clip: rect(22px, 9999px, 82px, 0);
    -webkit-transform: skew(0.48deg);
            transform: skew(0.48deg);
  }
  85% {
    clip: rect(30px, 9999px, 63px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
  90% {
    clip: rect(68px, 9999px, 44px, 0);
    -webkit-transform: skew(0.4deg);
            transform: skew(0.4deg);
  }
  95% {
    clip: rect(12px, 9999px, 36px, 0);
    -webkit-transform: skew(0.61deg);
            transform: skew(0.61deg);
  }
  100% {
    clip: rect(24px, 9999px, 5px, 0);
    -webkit-transform: skew(0.96deg);
            transform: skew(0.96deg);
  }
}
@-webkit-keyframes glitch-skew {
  0% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  10% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  20% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  30% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  40% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  50% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  60% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  70% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  80% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  90% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  100% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
}
@keyframes glitch-skew {
  0% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  10% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  20% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  30% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  40% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  50% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  60% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  70% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  80% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  90% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  100% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
}
/***************************

images

***************************/
.mil-image-frame {
  position: relative;
  overflow: hidden;
}
.mil-image-frame > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.mil-image-frame.mil-horizontal {
  padding-bottom: 65%;
}
.mil-image-frame.mil-vertical {
  padding-bottom: 140%;
}
.mil-image-frame.mil-square {
  padding-bottom: 100%;
}
.mil-image-frame.mil-fw {
  padding-bottom: 50%;
}
.mil-image-frame .mil-zoom-btn {
  opacity: 0;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}
.mil-image-frame .mil-zoom-btn:hover {
  background-color: rgb(255, 255, 255);
}
.mil-image-frame .mil-zoom-btn img {
  height: 17px;
  width: 17px;
}
.mil-image-frame:hover .mil-zoom-btn {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 2;
}

/***************************

page transitions

***************************/
.mil-frame {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.mil-curtain {
  position: fixed;
  pointer-events: none;
  z-index: 4;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  width: 100%;
  height: 100vh;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.mil-main-transition {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  margin-top: 0;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.mil-main-transition .mil-animation-frame {
  opacity: 1;
  margin-top: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.mil-main-transition .mil-lines-place {
  opacity: 1;
  margin-top: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

html.is-animating .mil-frame {
  opacity: 0;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
@media screen and (max-width: 1200px) {
  html.is-animating .mil-frame {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
html.is-animating .mil-curtain {
  opacity: 1;
  pointer-events: all;
}
html.is-animating .mil-main-transition {
  margin-top: 0.1px;
}
html.is-animating .mil-main-transition .mil-animation-frame {
  opacity: 0;
  margin-top: -90px;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
html.is-animating .mil-main-transition .mil-lines-place {
  opacity: 0;
  margin-top: 90px;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

html.is-animating .mil-menu-frame {
  opacity: 0;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

