/* -------------------------------------------

Typography - Headings, Text Utilities, Colors

------------------------------------------- */
h1,
.mil-h1,
h2,
.mil-h12,
h3,
.mil-h3,
h4,
.mil-h4,
h5,
.mil-h5,
h6,
.mil-h6 {
  font-family: "Outfit", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 500;
  line-height: 120%;
}
@media screen and (max-width: 768px) {
  h1 br,
.mil-h1 br,
h2 br,
.mil-h12 br,
h3 br,
.mil-h3 br,
h4 br,
.mil-h4 br,
h5 br,
.mil-h5 br,
h6 br,
.mil-h6 br {
    display: none;
  }
}

h1,
.mil-h1 {
  font-size: 86px;
}
@media screen and (max-width: 1400px) {
  h1,
.mil-h1 {
    font-size: 74px;
  }
}
@media screen and (max-width: 1200px) {
  h1,
.mil-h1 {
    font-size: 72px;
  }
}
@media screen and (max-width: 992px) {
  h1,
.mil-h1 {
    font-size: 58px;
  }
}
@media screen and (max-width: 768px) {
  h1,
.mil-h1 {
    font-size: 34px;
  }
}

h2,
.mil-h2 {
  font-size: 68px;
  line-height: 120%;
}
@media screen and (max-width: 1200px) {
  h2,
.mil-h2 {
    font-size: 56px;
  }
}
@media screen and (max-width: 992px) {
  h2,
.mil-h2 {
    font-size: 44px;
  }
}
@media screen and (max-width: 768px) {
  h2,
.mil-h2 {
    font-size: 36px;
  }
}

h3,
.mil-h3 {
  font-size: 42px;
}
@media screen and (max-width: 1200px) {
  h3,
.mil-h3 {
    font-size: 39px;
  }
}
@media screen and (max-width: 992px) {
  h3,
.mil-h3 {
    font-size: 36px;
  }
}
@media screen and (max-width: 768px) {
  h3,
.mil-h3 {
    font-size: 30px;
  }
}

h4,
.mil-h4 {
  font-size: 28px;
}
@media screen and (max-width: 1200px) {
  h4,
.mil-h4 {
    font-size: 26px;
  }
}
@media screen and (max-width: 992px) {
  h4,
.mil-h4 {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  h4,
.mil-h4 {
    font-size: 22px;
  }
}

h5,
.mil-h5 {
  font-size: 20px;
  line-height: 150%;
}
@media screen and (max-width: 768px) {
  h5,
.mil-h5 {
    font-size: 18px;
  }
}

h6,
.mil-h6 {
  font-size: 18px;
  line-height: 150%;
}
@media screen and (max-width: 1200px) {
  h6,
.mil-h6 {
    font-size: 17px;
  }
}
@media screen and (max-width: 992px) {
  h6,
.mil-h6 {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  h6,
.mil-h6 {
    font-size: 21px;
  }
}

.mil-no-wrap {
  white-space: nowrap;
}

blockquote {
  padding: 60px;
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-style: italic;
  border-left: solid 4px #1291F6;
}
@media screen and (max-width: 768px) {
  blockquote {
    padding: 30px;
    font-size: 16px;
  }
}

.mil-text-sm {
  font-size: 15px;
}

.mil-text-lg {
  font-size: 18px;
  line-height: 170%;
}

.mil-text-xl {
  font-size: 22px;
  line-height: 180%;
}
@media screen and (max-width: 768px) {
  .mil-text-xl {
    font-size: 20px;
  }
}

.mil-upper {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
}

.mil-bold {
  font-weight: 500;
}

.mil-thin {
  font-weight: 100;
}

a {
  color: inherit;
  text-decoration: none;
}

.mil-complex-title {
  line-height: normal;
}

.mil-accent {
  color: #1291F6;
}

.mil-light {
  color: rgb(255, 255, 255) !important;
}
.mil-light a {
  color: rgb(255, 255, 255) !important;
}

.mil-muted {
  color: rgba(255, 255, 255, 0.9);
}

.mil-dark {
  color: rgb(0, 0, 0);
}

.mil-light-soft {
  color: rgba(255, 255, 255, 0.4);
}

.mil-dark-soft {
  color: rgba(0, 0, 0, 0.5);
}

.mil-marker {
  background-color: #1291F6;
  padding: 0 5px;
}

.mil-center {
  text-align: center;
}

.mil-left {
  text-align: left;
}

.mil-right {
  text-align: right;
}

@media screen and (max-width: 576px) {
  .mil-sm-center {
    text-align: center;
  }
}

.mil-suptitle {
  position: relative;
  display: block;
  margin-bottom: 60px;
}
.mil-suptitle:before {
  content: "";
  position: absolute;
  right: calc(100% + 30px);
  top: 10px;
  width: 600px;
  height: 1px;
  background-color: rgb(255, 255, 255);
  opacity: 0.2;
}
.mil-suptitle.mil-suptitle-right {
  text-align: right;
}
.mil-suptitle.mil-suptitle-right:before {
  left: calc(100% + 30px);
}
@media screen and (max-width: 768px) {
  .mil-suptitle.mil-suptitle-right {
    text-align: center;
  }
  .mil-suptitle.mil-suptitle-right:before {
    display: none;
  }
}
.mil-suptitle.mil-suptitle-dark:before {
  background-color: rgb(0, 0, 0);
  opacity: 0.1;
}
@media screen and (max-width: 768px) {
  .mil-suptitle {
    margin-bottom: 60px;
  }
}

.mil-divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

.mil-img-frame {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 140%;
}
.mil-img-frame img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
